<%- include('../partials/header.ejs', {title:"Ajouter un article"}) %>
<h1>Ajouter un article</h1>
<form action="" method="post" class="form">
<%- include('../components/input.ejs', {type: "text", name:"title"}) %> 
<label>Content</label>
<textarea name="content" ></textarea>
  <button type="submit">Ajouter</button>
</form>
<%- include('../partials/footer.ejs') %>
