<%- include('./partials/header.ejs', {title:"Page d'acueil"}) %>

<% if (locals.connected) { %>
 <h1>Bonjour <%= locals.user.username %></h1>
<% } else { %>
    <h1>Bonjour Iconnu</h1>
   <% } %>

<%- include('./partials/footer.ejs') %>